{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="register-container">
        <h1>Register</h1>
        {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_label(registrationForm.first_name) }}
                {{ form_widget(registrationForm.first_name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.first_name) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.last_name) }}
                {{ form_widget(registrationForm.last_name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.last_name) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.phone_number) }}
                {{ form_widget(registrationForm.phone_number, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.phone_number) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.password) }}
                {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.password) }}
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}