<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Restaurant{% endblock %}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">

    <link rel="stylesheet" href="{{ asset('styles/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
</head>
<body>
    {% include 'components/navbar.html.twig' %}
    {% block body %}{% endblock %}
    {% include 'components/footer.html.twig' %}
    <script src="{{ asset('scripts/navbar.js') }}"></script>
    <script src="{{ asset('scripts/home.js') }}"></script>
</body>
</html>