<header>
    <div class="container">
        <div class="logo">
            <img src="{{ asset('images/icon.png') }}" alt="Restaurant Logo" style="width: 100px;">
        </div>
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('menu') }}">Menu</a></li>
                <li><a href="{{ path('reservation') }}">Reservation</a></li>
                <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
            </ul>
        </nav>
    </div>
</header>